<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <log4net>
    <appender name="File" type="log4net.Appender.FileAppender">
      <appendToFile value="false" />
      <file type="log4net.Util.PatternString" value="%property{logPath}" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] - %message%newline" />
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] - %message%newline" />
      </layout>
    </appender>
    <!--Used for general logging by test steps-->
    <logger name="Star.Tests.Logging">
      <!-- Valid values include ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="INFO" />
      <appender-ref ref="File" />
      <appender-ref ref="Console" />
    </logger>
    <!--Used by PostSharp logging-->
    <logger name="Star.Pages.Logging.LogMethodAspect">
      <!-- Valid values include ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="INFO" />
      <appender-ref ref="File" />
      <appender-ref ref="Console" />
    </logger>
    <root>
      <level value="OFF" />
    </root>
  </log4net>
</configuration>
